.portpolio {
    padding-top: 40px;
    padding-bottom: 70px;
    width: 100%;
  }
  
  .content .before,
  .content .after {
    width: 80px;
    height: 4px;
    background-color: #000;
    position: relative;
    top: 12px;
  }
  
  .item .image {
    position: relative;
    cursor: pointer;
  }
  
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #12b594fd;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s;
  }
  .layer:hover {
    opacity: 0.9;
  }
  
  .modal {
    --bs-modal-margin: 9.375rem !important;
  }
  