.home{
    padding: 70px;
    width: 100%;
    height: 80vh;
}


.home .image img{
    width: 20%;
}

.content .before,.content .after{
    width: 80px;
    height: 4px;
    background-color: #fff;
    position: relative;
    top: 12px;
    

}
